<html lang="en">
<head>
    <% include ../views/partials/head %>
</head>
<body class="container-fluid">

    <header>
        <% include ../views/partials/header %>
    </header>

    <main>



        <div class="row">
                    <div class="col-sm-4">

                         <!-- <p><%= msg %></p> -->
                
                <img src="<%= pic %>" width=250 class="img-upload img-rounded img-responsive" alt=""> 
                <br />
                <!-- <h3>Matched Items</h3> -->

       

                 
                        <ul class="list-group">
                    <li class="list-group-item clearfix"> <strong>Web Entities</strong></li>
                    <% visionResults.forEach(function(item) { %>
                        <li class="list-group-item clearfix">
                            <!-- <%- item.description %> [<%- item.score %>] -->
                            <a href="/results?q=<%= item.description %>"><%- item.description %></a>
                        </li>
                        
                    <% }); %>
                </ul>
                <ul class="list-group">
                    <li class="list-group-item clearfix"> <strong>Text Entities</strong></li>
                    <% resultsObj.textEntites.forEach(function(item) { %>
                        <li class="list-group-item clearfix">
                            <a href="/results?q=<%= item %>"><%- item %></a>
                        </li>
                    <% }); %>
                </ul>

            </div>
           

            <div class="col-sm-8">
                <p class="white">Searching for "<strong><em><%= googleSearchString %><em></strong>"</p>
                
                
                <div class="search-results">
                    <%- include('../views/partials/searchResults', {searchResults: searchResults}); %>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../views/partials/footer %>
    </footer>
    
</body>
</html>